Repository hmcts/ccfr-fees-register-admin-web, pull requests merged in 2021-03, with the labels that each got.

#288 Helm charts upgrade
  charts/fees-register-frontend/Chart.yaml
  charts/fees-register-frontend/requirements.yaml
  charts/fees-register-frontend/values.preview.template.yaml
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-288

#289 changes
  charts/fees-register-frontend/values.aat.template.yaml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-289

#294 Feeadminnightlyfix
  acceptance-tests/codecept.conf.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/CCFRAcceptanceTestConstants.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_ApproverScreenValidation_test.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-294

#296 Pay 4193
  acceptance-tests/codecept.conf.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/CCFRAcceptanceTestConstants.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_ApproverScreenValidation_test.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-296
