Repository hmcts/ccfr-fees-register-admin-web, pull requests merged in 2022-10, with the labels that each got.

#461 refactor and fix functional tests
  acceptance-tests/test/end-to-end/helpers/freg_helper.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
  src/main/app/fees/v2/feesClient.ts
  src/main/features/admin/v2/routes/create-edit-fee.ts
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-461

#456 Cookie-Banner
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
  gulpfile.js
  package.json
  src/main/app/cookie-banner/category.ts
  src/main/app/cookie-banner/cookie.ts
  src/main/app/cookie-banner/cookieDetails.ts
  src/main/app/cookie-banner/cookiePolicy.ts
  src/main/features/admin/paths.ts
  src/main/features/admin/routes/cookie-details.ts
  src/main/features/admin/routes/cookie-policy.ts
  src/main/features/admin/views/cookie-details.njk
  src/main/features/admin/views/cookie-policy.njk
  src/main/modules/helmet/modules/contentSecurityPolicy.ts
  src/main/modules/nunjucks/index.ts
  src/main/public/js/cookie-manager-1.0.0.min.js
  src/main/public/js/cookie.js
  src/main/public/stylesheets/application.scss
  src/main/public/stylesheets/feesCustom.css
  src/main/views/govukTemplate.njk
  src/main/views/includes/cookie-banner.njk
  src/main/views/includes/head.njk
  src/main/views/includes/scripts.njk
  src/main/views/layout.njk
  src/test/features/admin/routes/cookie-details.ts
  src/test/features/admin/routes/cookie-policy.ts
  yarn.lock
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-456

#470 Update README.md
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-470
