Repository hmcts/ccfr-fees-register-admin-web, pull requests merged in 2022-09, with the labels that each got.

#460 Update README.md
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-460

#459 Functional tests refactoring
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  acceptance-tests/codecept-local.conf.js
  acceptance-tests/test/end-to-end/helpers/freg_helper.js
  acceptance-tests/test/end-to-end/helpers/idam_helper.js
  acceptance-tests/test/end-to-end/helpers/random_data.js
  acceptance-tests/test/end-to-end/pages/fee_details.js
  acceptance-tests/test/end-to-end/pages/fee_versions.js
  acceptance-tests/test/end-to-end/pages/idam_backdoor.js
  acceptance-tests/test/end-to-end/pages/reference_data.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_ApproverScreenValidation_test.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
  package.json
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-459

#454 pa11y accessibility tests implementation
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  acceptance-tests/codecept.conf.js
  package.json
  scripts/pa11y.js
  yarn.lock
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-454
