Repository hmcts/ccfr-fees-register-admin-web, pull requests merged in 2025-06, with the labels that each got.

#633 Pay 6695 accessibility audit
  acceptance-tests/test/end-to-end/pages/steps_file.js
  src/main/app/fees/v2/forms/model/ValidationErrors.ts
  src/main/app/forms/models/feeForms.ts
  src/main/features/admin/v2/views/all-approvedbutnotlive.njk
  src/main/features/admin/v2/views/all-discontinued.njk
  src/main/features/admin/v2/views/all-fees.njk
  src/main/features/admin/v2/views/applicant-list.njk
  src/main/features/admin/v2/views/approval-confirmation.njk
  src/main/features/admin/v2/views/channel-list.njk
  src/main/features/admin/v2/views/confirm-create-bulk-fees.njk
  src/main/features/admin/v2/views/create-edit-fee.njk
  src/main/features/admin/v2/views/direction-list.njk
  src/main/features/admin/v2/views/draft-awaitingapproval.njk
  src/main/features/admin/v2/views/draft-fees.njk
  src/main/features/admin/v2/views/draft-rejectedbyapprover.njk
  src/main/features/admin/v2/views/event-list.njk
  src/main/features/admin/v2/views/fee-details.njk
  src/main/features/admin/v2/views/fee-loader-json.njk
  src/main/features/admin/v2/views/fee-versions.njk
  src/main/features/admin/v2/views/import-list.njk
  src/main/features/admin/v2/views/jurisdiction1-list.njk
  src/main/features/admin/v2/views/jurisdiction2-list.njk
  src/main/features/admin/v2/views/pending-approval.njk
  src/main/features/admin/v2/views/reference-data.njk
  src/main/features/admin/v2/views/reject-fee-reason.njk
  src/main/features/admin/v2/views/service-list.njk
  src/main/features/admin/v2/views/upload.njk
  src/main/features/admin/views/accessibility-statement.njk
  src/main/modules/nunjucks/index.ts
  src/main/public/stylesheets/feesCustom.css
  src/main/views/govukTemplate.njk
  src/main/views/govukTemplate1.njk
  src/main/views/includes/macros/form.njk
  src/main/views/includes/propositional_navigation.njk
  src/main/views/includes/propositional_navigation1.njk
  src/main/views/layout.njk
Labels: ns:fees-pay, prd:fees-register, enable_keep_helm, rel:fees-register-frontend-pr-633

#638 CME-526 replace request with node-fetch
  package.json
  src/main/app/client/request.ts
  src/main/app/fees/feesClient.ts
  src/main/app/fees/v2/feesClient.ts
  src/main/app/logging/requestPromiseLoggingHandler.ts
  src/main/features/admin/routes/range-group-edit.ts
  src/test/app/logging/requestPromiseLoggingHandler.ts
  src/test/features/admin/routes/v2/feesClient.test.ts
  src/test/http-mocks/fees.ts
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fees-pay, prd:fees-register, enable_keep_helm, rel:fees-register-frontend-pr-638

#650 PAY-7859: Pipeline fixes - week beginning 9 of June 2025
  package.json
  yarn.lock
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-650
