Repository hmcts/ccfr-fees-register-admin-web, pull requests merged in 2025-04, with the labels that each got.

#629 PAY-7704
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-629

#630 PAY-7704
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-630

#632 PAY-7740: Updating to select the last fee where applicable
  acceptance-tests/test/end-to-end/pages/fee_details.js
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-632
