Repository hmcts/ccfr-fees-register-admin-web, pull requests merged in 2025-01, with the labels that each got.

#615 PAY-7488: Problems in demo env and others that block testing, AAT and…
  acceptance-tests/test/end-to-end/helpers/idam_helper.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
  src/main/app/fees/v2/feesClient.ts
  src/main/app/idam/security.js
Labels: ns:fees-pay, prd:fees-register, helm-keep, enable_keep_helm, rel:fees-register-frontend-pr-615

#616 PAY-7488: Problems in demo env and others that block testing, AAT and…
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-frontend-pr-616

#610 PAY-7356: Proof of Concept for banded, related and relational
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/CCFeesRegister_EditorScreenValidation_test.js
  src/main/features/admin/v2/views/create-fee-version.njk
  src/main/features/admin/v2/views/fee-details.njk
Labels: ns:fees-pay, prd:fees-register, keep-helm, enable_keep_helm, rel:fees-register-frontend-pr-610

#618 PAY-7520 to trigger a build
  README.md
Labels: ns:fees-pay, prd:fees-register

#617 CME-323: Update azurerm
  infrastructure/main.tf
Labels: ns:fees-pay, prd:fees-register

#619 PAY-7170 addressed CVE-2024-29415
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fees-pay, prd:fees-register, keep-helm, enable_keep_helm, rel:fees-register-frontend-pr-619
